@import 'variables';
@import 'animations';

@import 'components/header';
@import 'components/hangMan';
@import 'components/wrongGuessedLetters';
@import 'components/correctWord';
@import 'components/appAlert';
@import 'components/result';

html {
  box-sizing: border-box;
}

body {
  background-color: #34495e;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  margin: 20px 0 0;
}
